<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.main.Client_province_relMapper">

    <resultMap id="baseSelectMap" type="com.spring.model.Client_province_rel">
        <id column="client_id" property="clientId" />
        <result column="province_name" property="provinceName" />
    </resultMap>
    <insert id="addClient_province_rel"  parameterType="com.spring.model.Client_province_rel" >

        insert into  dim_client_province_rel (client_id,province_name) values(#{clientId},#{provinceName});
    </insert>

    <update id="updateClient_province_rel" parameterType="com.spring.model.Client_province_rel" >
        update dim_client_province_rel set province_name=#{provinceName}
        where client_id=#{clientId}
    </update>

    <delete id="deleteClient_province_relByName" >
        delete from dim_client_province_rel where client_id=#{clientId}
    </delete>

    <select id="findClient_province_relByName" resultMap="baseSelectMap">
        select * from dim_client_province_rel where client_id=#{clientId}
    </select>
</mapper>