<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.main.ClientMapper">

    <resultMap id="baseSelectMap" type="com.spring.model.Client">
        <id column="client_id" property="id" />
        <result column="role" property="role" />
        <result column="client_name" property="name" />
        <result column="pass_word" property="password" />
        <result column="phonenumber" property="phoneNum" />
        <result column="company_name" property="companyName" />
        <result column="industry" property="industry" />
        <!--<result column="headshot_image" property="headshot"  jdbcType="BLOB"  typeHandler="com.spring.model.ConvertBlobTypeHandler" />-->
        <result column="headshot_image" property="headshot"  />
        <result column="gender" property="gender" />
        <result column="email_address" property="emailAddress" />
        <result column="banner_code" property="bannerCode" />
        <result column="idy" property="idy" />
        <result column="publish_type" property="publishType" />
        <result column="end_date"  property="endDate"/>
        <result column="data_date_start" property="startDataDate" />
        <result column="day_month"  property="dayOfMonth"/>
        <result column="day_week"  property="dayOfWeek"/>

        <!--<result column="start_date" jdbcType="DATE" property="startDate" javaType="java.util.Date" />-->
        <!--<result column="end_date" jdbcType="DATE" property="startDate" javaType="java.util.Date" />-->
        <!--<result column="data_date_start" jdbcType="DATE" property="startDataDate" javaType="java.util.Date" />-->
        <!--<result column="data_date_end" jdbcType="DATE" property="endDataDate" javaType="java.util.Date" />-->
    </resultMap>

    <resultMap id="secMap" type="com.spring.model.Client">
        <id column="client_id" property="id" />
        <result column="banner_code" property="bannerCode" />
        <result column="idy" property="idy" />
        <result column="data_date_start" property="startDataDate" />
        <result column="end_date" property="endDate" />
        <result column="day_month"  property="dayOfMonth"/>
        <result column="day_week"  property="dayOfWeek"/>
        <result column="publish_type" property="publishType" />
    </resultMap>

    <!--2018180517 管理接口-->



    <!--设主键,默认值-->
    <insert id="addClient" >
        insert into  dim_client (role,phonenumber,industry,headshot_image,gender,email_address,
        idy,banner_code,client_name,company_name,pass_word,end_date,data_date_start,publish_type,day_month,day_week)
        values('null',#{phoneNum},#{industry},'null','null','null',#{idy},#{bannerCode},#{name},
        #{companyName},#{password},#{endDate},#{startDataDate},#{publishType},#{dayOfMonth},#{dayOfWeek})
    </insert>



    <update id="updateClient" parameterType="com.spring.model.Client"  >
        update dim_client set phonenumber=#{phoneNum},industry=#{industry},idy=#{idy}, banner_code=#{bannerCode},
        company_name=#{companyName},pass_word=#{password},
        publish_type=#{publishType},end_date=#{endDate}, data_date_start=#{startDataDate}, day_month=#{dayOfMonth}, day_week=#{dayOfWeek}
        where client_name=#{name}
    </update>

    <delete id="deleteClientByName" >
        delete from dim_client where client_id=#{id}
    </delete>

    <select id="findClientById" resultMap="baseSelectMap">
        select * from dim_client where client_id=#{id}
    </select>

    <select id="indistinctClient"  resultMap="baseSelectMap">
        select client_id  ,client_name ,company_name  ,pass_word , role ,industry ,phonenumber,headshot_image ,publish_type,end_date,data_date_start
        from dim_client  where client_name like '%${name}%' or  company_name like '%${companyName}%'
    </select>

    <!--前端接口-->
    <!--<select id="findClientByName" resultMap="baseSelectMap">   &lt;!&ndash; 解决重名&ndash;&gt;-->
        <!--select * from dim_client where client_name=#{name}-->
    <!--</select>-->

    <select id="findAll" resultMap="baseSelectMap">
    select * from dim_client
    </select>

    <!--登录验证增加日期条件-->
    <select id="validate" resultMap="baseSelectMap" >
        select * from dim_client where client_name=#{name} and pass_word = #{password} and  current_date &lt;= end_date
    </select>
    <select id="validateByEmail" resultMap="baseSelectMap" >
        select * from dim_client where email_address=#{name} and pass_word = #{password} and current_date &lt;= end_date
    </select>


    <!-- 登录后，查找id-->
    <select id="findId"  resultType="java.lang.String" >
        select client_id  from dim_client where client_name = #{clientName} AND pass_word=#{password}
    </select>
    <select id="findIdByEmail"  resultType="java.lang.String">
        select client_id  from dim_client where email_address = #{emailAddress} AND pass_word=#{password}
    </select>

    <!-- 登录后，查找id和身份标识（零售商）-->
    <select id="findIdAndIdentity"  resultType="java.util.HashMap" >
        select client_id, idy  from dim_client where client_name = #{clientName} AND pass_word=#{password}
    </select>
    <select id="findIdIdentityByEmail"  resultType="java.util.HashMap">
        select client_id , idy from dim_client where email_address = #{emailAddress} AND pass_word=#{password}
    </select>

    <!-- 登录后，查找id和默认零售商（数据）-->
    <select id="findIdBanner"  resultType="java.util.HashMap" >
        select client_id,banner_code  from dim_client where client_name = #{clientName} AND pass_word=#{password}
    </select>
    <select id="findIdByEmailBanner"  resultType="java.util.HashMap">
        select client_id ,banner_code from dim_client where email_address = #{emailAddress} AND pass_word=#{password}
    </select>


    <!--返回 publish_type,day_month,day_week ,计算数据结束日期，方便展示-->
    <select id="getDate"  resultMap="secMap" >
        select publish_type,day_month,day_week from dim_client where client_name =#{clientName} AND pass_word=#{password}
    </select>
    <select id="getDateByEmail"  resultMap="secMap">
        select publish_type,day_month,day_week from dim_client where email_address =#{emailAddress} AND pass_word=#{password}
    </select>


    <!--返回clientId和banner_code,idy. datadate -->
    <select id="findIdBannerIdentity"  resultMap="secMap" >
        select data_date_start,end_date,client_id,banner_code , idy from dim_client where client_name = #{clientName} AND pass_word=#{password}
    </select>
    <select id="findIdByEmailBannerIdentity"  resultMap="secMap">
        select data_date_start,end_date ,client_id ,banner_code ,idy  from dim_client where email_address = #{emailAddress} AND pass_word=#{password}
    </select>


       <!-- &lt;!&ndash; 登录后，查找id,验证是否在用户有效期&ndash;&gt;
    <select id="isDateUseful"  resultType="java.lang.String" >
            select client_id  from dim_client where client_name = #{clientName} AND pass_word=#{password} and current_date Between to_date(start_date, 'yyyy-mm-dd')
    AND  to_date(end_date, 'yyyy-mm-dd')
        </select>

    <select id="isDateUsefulByEmail"  resultType="java.lang.String">
            select client_id  from dim_client where email_address = #{emailAddress} AND pass_word=#{password} and current_date Between to_date(start_date, 'yyyy-mm-dd')
    AND  to_date(end_date, 'yyyy-mm-dd')
        </select>-->

</mapper>