<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.main.Shop_typeMapper">

    <resultMap id="baseSelectMap" type="com.spring.model.Shop_type">
        <id column="shop_type_id" property="typeId" />
        <result column="shop_type_code" property="typeCode" />
        <result column="shop_type_desc" property="typeDesc" />
        <result column="data_source" property="dataSource" />
        <result column="cre_user" property="creUser" />
        <result column="cre_date" property="creDate" />
        <result column="upd_user" property="updUser" />
        <result column="upd_date" property="updDate" />
    </resultMap>
    <insert id="addShop_type"  parameterType="com.spring.model.Shop_type" >

        insert into  dim_shop_type (shop_type_id,shop_type_code,shop_type_desc,data_source,cre_date,cre_user)
                            values(#{typeId},#{typeCode},#{typeDesc},#{dataSource},CURRENT_TIMESTAMP(),#{creUser});
    </insert>

    <update id="updateShop_type" parameterType="com.spring.model.Shop_type" >
        update dim_shop_type set shop_type_code=#{typeCode},shop_type_desc=#{typeDesc},upd_date=CURRENT_TIMESTAMP(),upd_user=#{updUser}
        where shop_type_id=#{typeId}
    </update>

    <delete id="deleteShop_typeByName" >
        delete from dim_shop_type where shop_type_id=#{typeId}
    </delete>

    <select id="findShop_typeByName" resultMap="baseSelectMap">
        select * from dim_shop_type where shop_type_id=#{typeId}
    </select>
</mapper>